<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form class="form" [formGroup]="firstFormGroup" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>Booking Info</ng-template>
      <mat-form-field *ngIf="!viewCustomer">
        <mat-label>Customer List</mat-label>
        <mat-select matNativeControl formControlName="customerId">
          <mat-option *ngFor="let item of customerList" value="{{item.customer_id}}">{{item.customer_name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="button" *ngIf="roomObject" (click)="viewCustomerForm()" data-sticky="true"
        class="btn btn-secondary btn-xs addCustomerBtn">
        <span *ngIf="!viewCustomer"><i class="fa fa-plus"></i> Add Customer</span>
        <span *ngIf="viewCustomer"><i class="fa fa-bars"></i> Customer List</span>
      </button>
      <mat-form-field>
        <input matInput placeholder="Room Charges" type="number" formControlName="roomamount" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Extra Occupancy Charges" type="number" formControlName="extraoccupancy" required>
      </mat-form-field>
      <button type="button" *ngIf="roomObject" class="btn btn-default btn-sm roomInfoButton" disabled>
        Room No : {{roomNumber}} <br>
        Room Type : {{roomType}}
      </button>
      <br>
      <mat-form-field>
        <input matInput placeholder="Food Bill Number" formControlName="foodbillnumber">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Food Bill Amount" type="number" formControlName="foodbillamount">
      </mat-form-field>
      <br>
      <div *ngIf="viewCustomer">
        <mat-form-field>
          <input matInput placeholder="Customer Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="ID Type" formControlName="idtype">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="ID Number" formControlName="idnumber">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Phone Number" formControlName="phonenumber">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput placeholder="Upload Id" formControlName="uploadid">
        </mat-form-field> -->
      </div>
      <div>
        <button type="button" [disabled]="firstFormGroup.invalid" *ngIf="roomObject" (click)="calculateTotal()"
          mat-button matStepperNext mat-flat-button>Next</button>
        <button type="button" [disabled]="firstFormGroup.invalid" *ngIf="!roomObject" mat-button matStepperNext
          mat-flat-button (click)="calculateEditFormValues()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Payment Info</ng-template>
      <mat-form-field>
        <input matInput placeholder="Total Amount" formControlName="totalamount" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Paid Amount" formControlName="paidamount" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Payment Type</mat-label>
        <mat-select matNativeControl formControlName="paymenttype" required>
          <mat-option value="Debit Card">Debit Card</mat-option>
          <mat-option value="Credit Card">Credit Card</mat-option>
          <mat-option value="in-Cash">In Cash</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Payment Status</mat-label>
        <mat-select matNativeControl formControlName="paymentstatus" required>
          <mat-option value="Partial">Partial</mat-option>
          <mat-option value="Full Paid">Full Paid</mat-option>
          <mat-option value="Not Done">Not Done</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button type="button" *ngIf="!roomObject" class="btn btn-default btn-sm roomInfoButton totalDisplayButton"
        disabled>
        Total Room Amount <span *ngIf="totalRoomAmount > 999"> {{totalRoomAmount - totalGSTAmount}} + GST ({{GST}}%)
          {{totalGSTAmount}}
        </span> =
        {{totalRoomAmount}}
      </button>
      <button type="button" *ngIf="!roomObject" class="btn btn-default btn-sm roomInfoButton totalDisplayButton"
        disabled>
        Total Food Bill Amount = {{totalFoodBill}}
      </button>
      <button type="button" *ngIf="!roomObject" class="btn btn-default btn-sm roomInfoButton totalDisplayButton"
        disabled>
        Remaining Amount = {{remainingAmount}}
      </button>
      <br>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="move(0)" *ngIf="roomObject">Edit Booking</button>
        <button mat-button mat-flat-button (click)="onSubmit()" *ngIf="roomObject">Book Now</button>
        <button mat-button mat-flat-button (click)="editBooking()" *ngIf="!roomObject">Save</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
<!-- <button type="button" (click)="callRoomTable()" class="btn btn-success btn-xs">
  Room Table&nbsp;
</button> -->