.mat-form-field {
    margin: 15px;
}

mat-horizontal-stepper {
    margin:10px;
    border:1px solid #ddd;
    border-radius: 0.8em;
    padding:10px;
}

mat-button{
    border-radius: 4px;
}

.addCustomerBtn {
    margin: 10px 15px;
    background: #1976d2;
    border: #1976d2;
    border-radius: 2px;
    padding: 5px 10px;
}

.roomInfoButton {
    margin: 25px;
    padding: 5px 14px;
    text-align: left;
}