<div class="form-group">
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Checkin date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Checkout date">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <button type="button" (click)="addRoom()" data-sticky="true" class="btn btn-secondary searchBtn" tabindex="3">
    Search &nbsp;
  </button>
</div>
<app-room-table activeTab="book-room" tabTitle="Avaliable Rooms List"></app-room-table>