<div *ngIf="isUserLoggedIn">
  <div class="account-wrapper">
    <div class="account-body">
      <h3 class="account-body-title">Welcome to HotResto</h3>
      <h5 class="account-body-subtitle" *ngIf="!errorDisplay">Please log in to get access.</h5>
      <form class="form account-form" #loginForm="ngForm" method="post">
        <div class="form-group">
          <div *ngIf="errorDisplay">
            <div class="alert alert-danger">
              {{errorText}}
            </div>
          </div>
          <input type="text" class="form-control" required [(ngModel)]="model.username" id="username" name="username" placeholder="Username"
            tabindex="1">
        </div>
        <!-- /.form-group -->
        <div class="form-group">
          <input type="password" class="form-control" required [(ngModel)]="model.password" id="password" name="password" placeholder="Password"
            tabindex="2">
        </div>
        <!-- /.form-group -->
        <div class="form-group clearfix">
          <div class="pull-right">
            <a (click)="switchForms()">Forgot Password?</a>
          </div>
        </div>
        <!-- /.form-group -->
        <div class="form-group">
          <button type="button" (click)="loginUser()" [disabled]="!loginForm.valid" class="btn btn-primary btn-block
              btn-lg " tabindex="4 ">
            Login &nbsp;
          </button>
        </div>
        <!-- /.form-group -->
      </form>
    </div>
    <!-- /.account-body -->
  </div>
  <!-- /.account-wrapper -->
</div>
<!-- ./ng if -->

<div *ngIf="forgotPasswordForm ">
  <div class="account-wrapper ">
    <div class="account-body ">
      <h3 class="account-body-title ">Password Reset</h3>
      <h5 class="account-body-subtitle ">We'll send your password on your registred email id</h5>
      <form class="form account-form" #loginForm="ngForm">
        <div class="form-group ">
          <label for="forgot-email " class="placeholder-hidden ">Your Email</label>
          <input type="text" required [(ngModel)]="model.email" #ctrl="ngModel" name="email" class="form-control " id="email
              " placeholder="Your Email " tabindex="1 ">
        </div>
        <div class="form-group ">
          <button type="button" [disabled]="!loginForm.valid" (click)="recoverPassword()" class="btn btn-secondary btn-block btn-lg "
            tabindex="2 ">
            Reset &nbsp;
          </button>
        </div>
        <div class="form-group clickable-links ">
          <a (click)="switchForms()">
            Back to Login</a>
        </div>
      </form>
      <!-- ./form -->
    </div>
    <!-- /account-body -->
  </div>
  <!-- ./account-wrapper -->
</div>
<!-- ./ng if -->