.invoiceBox{
    border: 1px solid #bdb7b7;
    padding: 40px;
    border-radius: 5px;
}
@media print {
    body * {
      display:block;
    }
    #printArea * {
      visibility: visible;
    }
    #printArea {
      position: absolute;
      left: 0;
      top: 0;
    }
    #print{
      display:block;
    }
  }
  
@media print
{
  .noprint {
    display:none;
  }
}

.foodamount{
  border:none !important;
}