<div class="portlet-content">
    <div class="invoiceBox" id="printArea">
        <h3>Invoice Details</h3>
        <div class="invoiceDetails">
            <div class="form-group">
                <span class="title">Invoice No:</span>
                <span class="value">{{invoiceNo}}</span>
            </div>
            <div class="form-group">
                <span class="title">Booking Date:</span>
                <span class="value">{{bookingdate}}</span>
            </div>
            <div class="form-group">
                <span class="title">Customer Name:</span>
                <span class="value">{{customer_name}}</span>
            </div>
            <div class="form-group">
                <span class="title">Mobile Number:</span>
                <span class="value">{{customer_mobile}}</span>
            </div>
            <div class="form-group">
                <span class="title">Address:</span>
                <span class="value">{{customer_address}}</span>
            </div>

            <div class="dates">
                <div class="form-group">
                    <span class="title">Check-in Date:</span>
                    <span class="value">{{checkinDate}}</span>
                </div>
                <div class="form-group">
                    <span class="title">Check-out Date:</span>
                    <span class="value">{{checkoutDate}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-12 invoiceDetails">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Room Number</th>
                        <th>Room Amount</th>
                        <th>Extra Occupancy</th>
                        <th>GST %</th>
                        <th>GST Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{room_name}} {{room_number}}</td>
                        <td>{{roomCharges}}</td>
                        <td>{{extraOccupancy}}</td>
                        <td>{{GST}}</td>
                        <td>{{GSTAmount}}</td>
                        <!-- <td class=" hidden-xs hidden-sm">{{item.customer_uploadImage}}</td> -->
                    </tr>
                </tbody>
            </table>
            <div class="invoiceDetails">
                <div class="form-group">
                    <span class="title">Total Room Amount:</span>
                    <span class="value">{{totalRoomAmount}}</span>
                </div>
                <div class="form-group">
                    <span class="title">Food Bill Number:</span>
                    <span class="value">{{foodBillNumber}}</span>
                </div>
                <div class="form-group">
                    <span class="title">Food Bill Amount:</span>
                    <span class="value">{{foodBillAmount}}</span>
                </div>
                <div class="form-group">
                    <span class="title">Total Bill Amount:</span>
                    <span class="value">{{finalTotal}}</span>
                </div>
            </div>
            <div class="text-right noprint">
                <button type="button" value="Print" (click)="printInvoice('printArea')" class="btn btn-success btn-xs">
                    Print&nbsp;
                </button>
                <button type="button" (click)="callCustomerList()" class="btn btn-success btn-xs">
                    Close&nbsp;
                </button>
            </div>
        </div>
    </div>
</div>