<div class="container">
  <div class="row">
    <div class="col-md-8 invoiceBox" id="printArea">
      <form>
        <h3>Invoice Details</h3>
        <!-- <h5>Customer Name: Deepti Mhaksar</h5> -->
        <hr>
        <br>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Description</th>
                <th class="price">Details</th>
                <th class="total">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Room Amount</td>
                <td>-</td>
                <td>
                  <i class="fa fa-rupee"></i>{{checkoutData.room_charges}}</td>
              </tr>
              <tr>
                <td>Extra Occupancy Charges</td>
                <td>-</td>
                <td>
                  <i class="fa fa-rupee"></i>{{checkoutData.extra_occupancy}}</td>
              </tr>
              <tr>
                <td>
                  <label>Food Amount</label>
                </td>
                <td>
                  Bill Number : {{checkoutData.food_bill_number}}
                </td>
                <td>
                  <input type="text" name="amount" class="foodamount" placeholder="Enter Amount">
                </td>
              </tr>
              <tr class=" row-subtotal">
                <td colspan="1"></td>
                <td>
                  <strong>Subtotal:</strong>
                </td>
                <td>
                  <i class="fa fa-rupee"></i>{{subTotal}}</td>
              </tr>
              <tr>
                <td colspan="1"></td>
                <td>
                  <strong>GST</strong>
                </td>
                <td>
                  <strong>{{taxData.tax_amount}}%</strong>
                </td>
              </tr>
              <tr>
                <td colspan="1"></td>
                <td>
                  <strong>Total Amount:</strong>
                </td>
                <td>
                  <strong>
                    <i class="fa fa-rupee"></i>{{finalTotal}}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="text-right noprint">
          <button type="button" (click)="callCustomerList()" class="btn btn-success btn-xs">
            Cancel&nbsp;
          </button>
          <button type="button" value="Print" (click)="printInvoice('printArea')" class="btn btn-success btn-xs">
            Print&nbsp;
          </button>
        </div>
      </form>
    </div>
  </div>
</div>