<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-cogs"></i>
            </button>
        </div>
        <!-- /.navbar-header -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown navbar-profile">
                    <img class="logo-align" src="assets/img/logoHotResto.png" alt="Profile">
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown navbar-profile">
                    <div class="logout" (click)="logoutUser()">
                        <i class="fa fa-sign-out"></i>
                        &nbsp;&nbsp;Logout
                    </div>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->
<div class="mainbar">
    <div class="container">
        <button type="button" class="btn mainbar-toggle" data-toggle="collapse" data-target=".mainbar-collapse">
            <i class="fa fa-bars"></i>
        </button>
        <div class="mainbar-collapse collapse">
            <ul class="nav navbar-nav mainbar-nav">

                <li [ngClass]="(selectedMenu=='dashboard') ? 'active' : '' " (click)="activeMenu('dashboard')">
                    <a [routerLink]="['.']">
                        <i class="fa fa-dashboard"></i>
                        Dashboard
                    </a>
                </li>

                <li [ngClass]="(selectedMenu=='book-room') ? 'active' : '' " (click)="activeMenu('book-room')">
                    <a [routerLink]="['book-room']">
                        <i class="fa fa-home"></i>
                        Book Room
                    </a>
                </li>

                <li [ngClass]="(selectedMenu=='rooms') ? 'active' : '' " (click)="activeMenu('rooms')">
                    <a [routerLink]="['rooms']">
                        <i class="fa fa-home"></i>
                        Rooms
                    </a>
                </li>
                <li [ngClass]="(selectedMenu=='customer') ? 'active' : '' " (click)="activeMenu('customer')">
                    <a [routerLink]="['customer']">
                        <i class="fa fa-users"></i>
                        Customers
                    </a>
                </li>
                <li [ngClass]="(selectedMenu=='tax') ? 'active pointer' : 'pointer' " (click)="activeMenu('tax')">
                    <a (click)="openDialog()">
                        <i class="fa fa-calendar-o"></i>
                        Tax
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.mainbar -->

<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="row-stat">
                        <p class="row-stat-label">Total Customers </p>
                        <h3 class="row-stat-value">{{ customerCount }}</h3>
                    </div>
                    <!-- /.row-stat -->
                </div>
                <!-- /.col -->
                <div class="col-sm-6 col-md-3">
                    <div class="row-stat">
                        <p class="row-stat-label">Pending Amount</p>
                        <h3 class="row-stat-value">0</h3>
                    </div>
                    <!-- /.row-stat -->
                </div>
                <!-- /.col -->
                <div class="col-sm-6 col-md-3">
                    <div class="row-stat">
                        <p class="row-stat-label">Total Earnings</p>
                        <h3 class="row-stat-value">0</h3>
                    </div>
                    <!-- /.row-stat -->
                </div>
                <!-- /.col -->
                <div class="col-sm-6 col-md-3">
                    <div class="row-stat">
                        <p class="row-stat-label">Rooms Left</p>
                        <h3 class="row-stat-value">{{ roomCount }}</h3>
                    </div>
                    <!-- /.row-stat -->
                </div>
                <!-- /.col -->
            </div>
            <!-- Recent SignedUp Users -->
            <div class="row">
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
                <app-customer-table activeTab="dashboard" *ngIf="showCustomer"></app-customer-table>
            </div>
        </div>
    </div>
</div>