<div class="row">

  <div class="col-sm-4">

    <div class="portlet">

      <div class="portlet-header">

        <h3>
          <i class="fa fa-home"></i>
          Add Rooms
        </h3>

      </div>
      <!-- /.portlet-header -->

      <div class="portlet-content">

        <form id="validate-basic" action="http://jumpstartthemespreview.com/target-admin/form-validation.html" data-validate="parsley"
          class="form parsley-form">

          <div class="form-group">
            <label for="roomname">Room Name</label>
            <input type="text" id="roomname" name="roomname" class="form-control" data-required="true">
          </div>

          <div class="form-group">
            <label for="roomno">Room Number*</label>
            <input type="text" id="roomno" name="roomno" class="form-control" data-required="true">
          </div>

          <div class="form-group">
            <label for="noofbeds">No of Beds*</label>
            <input type="text" id="noofbeds" name="noofbeds" class="form-control" data-required="true">
          </div>

          <div class="form-group">
            <label>Upload Image</label>
            <div class="uploadimage">
              <label>
                <input type="file" name="uploadimage">
              </label>
            </div>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-secondary">Save</button>
          </div>

        </form>

      </div>
      <!-- /.portlet-content -->

    </div>
    <!-- /.portlet -->
  </div>
  <!-- col-->
</div>