<div class="row">

  <div class="col-sm-10">

    <div class="portlet">

      <div class="portlet-header">

        <h3>
          <i class="fa fa-home"></i>
          Add Customers
        </h3>

      </div>
      <!-- /.portlet-header -->

      <div class="portlet-content">

        <form id="validate-basic" action="http://jumpstartthemespreview.com/target-admin/form-validation.html" data-validate="parsley"
          class="form parsley-form">

          <div class="form-group col-md-10">
            <label for="customername" class="placeholder-hidden ">Customer Name </label>
            <input type="text" class="form-control" required [(ngModel)]="custmodel.username " id="username " name="username
              " placeholder="Username " tabindex="3 ">
          </div>
          <!-- ./form group -->
          <div class="form-group col-md-6">
            <label for="custidcustid" class="placeholder-hidden ">CustId</label>
            <input type="text" class="form-control" required [(ngModel)]="custmodel.custid " id="custid " name="custid
        " placeholder="CustId " tabindex="3 ">
          </div>
          <!-- ./form group -->

          <div class="form-group col-md-6">
            <label for="idnumber" class="placeholder-hidden ">Id Number</label>
            <input type="text" class="form-control" required [(ngModel)]="custmodel.idnumber " id="idnumber " name="idnumber
          " placeholder="Id Number " tabindex="3 ">
          </div>
          <!-- ./form group -->

          <div class="form-group col-md-6">
            <label for="phonenumber" class="placeholder-hidden ">Phone Number</label>
            <input type="text" class="form-control" required [(ngModel)]="custmodel.phonenumber " id="phonenumber " name="phonenumber
            " placeholder="Phone Number " tabindex="3 ">
          </div>
          <!-- ./form group -->

          <div class="form-group col-md-6">
            <label for="address" class="placeholder-hidden ">Address</label>
            <input type="textarea" id="address" required [(ngModel)]="custmodel.address " name="address" class="form-control" data-required="true"
              placeholder="Address " tabindex="3 ">
          </div>

          <div class="form-group">
            <label>Upload Id</label>
            <div class="uploadid">
              <label>
                <input type="file" name="uploadid">
              </label>
            </div>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-secondary">Save</button>
          </div>

        </form>

      </div>
      <!-- /.portlet-content -->

    </div>
    <!-- /.portlet -->
  </div>
  <!-- col-->
</div>