<div class="row">

  <div class="col-sm-10">

    <div class="portlet">

      <div class="portlet-header">

        <h3>
          <i class="fa fa-users"></i>
          Add Customers
        </h3>

      </div>
      <!-- /.portlet-header -->

      <div class="portlet-content">

        <form class="form account-form" #loginForm="ngForm">

          <div class="form-group col-md-10">
            <label for="customername">Customer Name </label>
            <input type="text" class="form-control" required [(ngModel)]="custmodel.customername " id="customername " name="customername
              " placeholder="Customer Name " tabindex="3 ">
          </div>
          <!-- ./form group -->
          <div class="form-group col-md-10">
            <label for="custidcustid">CustId </label>
            <input type="text" class="form-control" required [(ngModel)]="custmodel.custid " id="custid " name="custid
        " placeholder="CustId " tabindex="3 ">
          </div>
          <!-- ./form group -->

          <div class="form-group col-md-10">
            <label for="idnumber">Id Number </label>
            <input type="text" class="form-control" required [(ngModel)]="custmodel.idnumber " id="idnumber " name="idnumber
          " placeholder="Id Number " tabindex="3 ">
          </div>
          <!-- ./form group -->

          <div class="form-group col-md-10">
            <label for="phonenumber">Phone Number </label>
            <input type="text" class="form-control" required [(ngModel)]="custmodel.phonenumber " id="phonenumber " name="phonenumber
            " placeholder="Phone Number " tabindex="3 ">
          </div>
          <!-- ./form group -->

          <div class="form-group col-md-10">
            <label for="address">Address </label>
            <input type="textarea" id="address" required [(ngModel)]="custmodel.address " name="address" class="form-control" data-required="true"
              placeholder="Address " tabindex="3 ">
          </div>

          <div class="form-group col-md-10">
            <label>Upload Id</label>
            <div>
              <label>
                <input type="file" name="uploadid" tabindex="3 ">
              </label>
            </div>
          </div>

          <div class="form-group col-md-10">
            <button type="button" (click)="addCustomer()" [disabled]="!loginForm.valid" class="btn btn-secondary" tabindex="3 ">
              Save &nbsp;
            </button>
          </div>

        </form>

      </div>
      <!-- /.portlet-content -->

    </div>
    <!-- /.portlet -->
  </div>
  <!-- col-->
</div>