// .col-sm-6 {
//     display: inline-flex !important;
// }
.btn-secondary {
    float: right;
}

.table-responsive i {
    color: rgb(187, 8, 8);
    font-size: 16px;
    cursor: pointer;
}

.table-bordered.table-highlight thead tr:first-child th {
    width: 150px !important;
}