<div class="row">

  <div class="col-sm-4">

    <div class="portlet">

      <div class="portlet-header">

        <h3>
          <i class="fa fa-home"></i>
          Add Rooms
        </h3>

      </div>
      <!-- /.portlet-header -->

      <div class="portlet-content">

        <form id="validate-basic" action="http://jumpstartthemespreview.com/target-admin/form-validation.html" data-validate="parsley"
          class="form parsley-form">

          <div class="form-group">
            <label for="roomname">Room Name</label>
            <input type="text" id="roomname" name="roomname" class="form-control" data-required="true">
          </div>

          <div class="form-group">
            <label for="roomno">Room Number*</label>
            <input type="text" id="roomno" name="roomno" class="form-control" data-required="true">
          </div>

          <div class="form-group">
            <label for="noofbeds">No of Beds*</label>
            <input type="text" id="noofbeds" name="noofbeds" class="form-control" data-required="true">
          </div>

          <div class="form-group">
            <label>Upload Image</label>
            <div class="uploadimage">
              <label>
                <input type="file" name="uploadimage">
              </label>
            </div>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-secondary">Save</button>
          </div>

        </form>

      </div>
      <!-- /.portlet-content -->

    </div>
    <!-- /.portlet -->
  </div>
  <!-- col-->

  <div class="col-md-8">

    <div class="portlet">

      <div class="portlet-header">

        <h3>
          <i class="fa fa-table"></i>
          Booked Rooms list
        </h3>

      </div>
      <!-- /.portlet-header -->

      <div class="portlet-content">
        <div class="row dt-rt">
          <div class="col-sm-6">
            <div id="DataTables_Table_0_length" class="dataTables_length">
              <label>
                <select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
                  <option value="10" selected="selected">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="dataTables_filter" id="DataTables_Table_0_filter">
              <label>
                <input type="text" aria-controls="DataTables_Table_0" placeholder="Search...">
              </label>
            </div>
          </div>
        </div>

        <div class="table-responsive">

          <table class="table table-striped table-bordered table-hover table-highlight table-checkable" data-provide="datatable" data-display-rows="10"
            data-info="true" data-search="true" data-length-change="true" data-paginate="true">
            <thead>
              <tr>
                <th class="checkbox-column">
                  <input type="checkbox" class="icheck-input">
                </th>
                <th data-filterable="true" data-sortable="true" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                  rowspan="1" colspan="1" style="width: 192px;" aria-label="Platform(s): activate to sort column ascending">Room Name</th>
                <th data-filterable="true" data-sortable="true" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                  rowspan="1" colspan="1" style="width: 192px;" aria-label="Platform(s): activate to sort column ascending">Room Number</th>
                <th data-filterable="true" data-sortable="true" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0"
                  rowspan="1" colspan="1" style="width: 192px;" aria-label="Platform(s): activate to sort column ascending">No of Beds</th>
                <th data-filterable="false" class="hidden-sm">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="checkbox-column">
                  <input type="checkbox" class="icheck-input">
                </td>
                <td>Trident</td>
                <td>Internet Explorer 5.0
                </td>
                <td>Win 95+</td>
                <td class="hidden-xs hidden-sm">5</td>
              </tr>
              <tr>
                <td class="checkbox-column">
                  <input type="checkbox" class="icheck-input">
                </td>
                <td>Trident</td>
                <td>Internet Explorer 5.5
                </td>
                <td>Win 95+</td>
                <td class="hidden-xs hidden-sm">5.5</td>
              </tr>
              <tr>
                <td class="checkbox-column">
                  <input type="checkbox" class="icheck-input">
                </td>
                <td>Trident</td>
                <td>Internet Explorer 6
                </td>
                <td>Win 98+</td>
                <td class="hidden-xs hidden-sm">6</td>
              </tr>
              <tr>
                <td class="checkbox-column">
                  <input type="checkbox" class="icheck-input">
                </td>
                <td>Trident</td>
                <td>Internet Explorer 7</td>
                <td>Win XP SP2+</td>
                <td class="hidden-xs hidden-sm">7</td>
              </tr>
              <tr>
                <td class="checkbox-column">
                  <input type="checkbox" class="icheck-input">
                </td>
                <td>Trident</td>
                <td>AOL browser (AOL desktop)</td>
                <td>Win XP</td>
                <td class="hidden-xs hidden-sm">6</td>
              </tr>
              <tr class="">
                <td class="checkbox-column">
                  <input type="checkbox" class="icheck-input">
                </td>
                <td>Misc</td>
                <td>NetFront 3.1</td>
                <td>Embedded devices</td>
                <td class="hidden-xs hidden-sm">-</td>
              </tr>
              <tr class="">
                <td class="checkbox-column">
                  <input type="checkbox" class="icheck-input">
                </td>
                <td>Webkit</td>
                <td>Safari 3.0</td>
                <td>OSX.4+</td>
                <td class="hidden-xs hidden-sm">522.1</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->

      </div>
      <!-- /.portlet-content -->

    </div>
    <!-- /.portlet -->
  </div>
  <!-- /.col -->

</div>
<!-- /.row -->